<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <h3><%= pergunta.descricao %></h3>
        <hr>
        <form action="">
            <h3>Responda</h3>
            <textarea class="form-control" placeholder="Digite sua resposta" name="" id="" cols="30" rows="5">
            </textarea><br>
            <button type="submit" class="btn btn-primary">Responder</button>
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
        </form>
    </div>

</body>
<%- include ('partials/footer.ejs') %>
</html>